
services:

  api:
    build: .
    command: uvicorn ingest:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app

  bot:
    build: .
    command: python bot_telegram.py
    depends_on:
      - api
    env_file:
      - .env